.cr-post-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cr-post-filter-wrapper {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.cr-post-filter {
  padding: 0.6rem 1rem;
  cursor: pointer;
  background-color: #ddd;
}

.cr-post-filter.active {
  background-color: #333;
  color: #fff;
}

.cr-post-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

.cr-post-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  max-width: 340px;
  min-height: 470px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.cr-post-feature-img {
  position: relative;
  min-height: 12.5rem;
  width: 20.5rem;
  background-color: #333;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cr-post-feature-img:after {
  background-image: url("data:image/svg+xml,<svg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M25 50C38.8071 50 50 38.8071 50 25C50 11.1929 38.8071 0 25 0C11.1929 0 0 11.1929 0 25C0 38.8071 11.1929 50 25 50ZM37.6871 23.2519C37.3614 22.711 36.8943 22.2687 36.3359 21.9724L21.4405 13.8888C19.042 12.5883 16.0959 14.2809 16.0959 16.9607V33.1267C16.0959 35.8042 19.042 37.498 21.4405 36.1963L36.3359 28.1139C36.8943 27.8176 37.3614 27.3753 37.6871 26.8343C38.0129 26.2934 38.1849 25.6742 38.1849 25.0431C38.1849 24.4121 38.0129 23.7929 37.6871 23.2519Z' fill='white'/></svg>");
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 50px;
  position: absolute;
  vertical-align: -0.125em;
  width: 50px;
  left: 50%;
  top: 80px;
  transform: translate(-50%, -20%);
}

.cr-post-img {
  position: relative;
  width: 100%;
  height: 12.5rem;
}

.cr-post-img img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.cr-post-title h3 {
  font-size: 1.5rem;
  margin: 20px 0 10px;
  padding: 0;
  line-height: 28px;
}

.cr-post-title h3 a {
  font-weight: bold;
  color: #000;
  transition: 0.2s;
}

.cr-post-title h3 a:hover {
  font-weight: 800;
  text-decoration: none;
}

.cr-post-title h3:after {
  content: none;
}

.cr-post-meta span {
  font-size: 0.9rem;
  color: #888;
}

.cr-post-button span {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  display: inline-block;
}

.cr-post-button span {
  box-shadow: inset -400px 0 0 0 #d81818;
  -webkit-transition: ease-out 0.7s;
  -moz-transition: ease-out 0.7s;
  transition: ease-out 0.7s;
  border: 1px solid #d81818 !important;
}

.cr-post-button {
  font-family: "Bai Jamjuree", Sans-serif;
}

.cr-post-button span:hover {
  background-color: transparent !important;
  box-shadow: inset 0 0 0 0 #d81818;
  color: #d81818 !important;
  border: 1px solid #d81818;
}

.cr-social-share p {
  font-size: 1.2rem;
  font-weight: 800;
  font-family: "Bai Jamjuree";
  margin: 1rem 0;
  color: #000;
}

.cr-share-btn-wrapper a {
  margin-right: 10px;
  font-size: 1.6rem;
  transition: 0.5s;
  color: #888;
}

.cr-share-btn-wrapper a:hover {
  text-decoration: none;
}

.cr-post-content-wrapper {
  padding: 0 20px 20px;
}